Options -MultiViews

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_METHOD} !POST
    RewriteCond %{THE_REQUEST} \s/+(.*/)?index\.php(?:[\s?]) [NC]
    RewriteRule ^(.*/)?index\.php$ $1 [R=301,L,NE]

    RewriteCond %{REQUEST_METHOD} !POST
    RewriteCond %{THE_REQUEST} \s/+[^?\s]*\.php(?:[\s?]) [NC]
    RewriteRule ^(.+)\.php$ $1 [R=301,L,NE]

    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Evitar que se aplique si es una carpeta física
    RewriteCond %{REQUEST_FILENAME} !-d

    # Comprobar si el archivo con extensión .php existe
    RewriteCond %{REQUEST_FILENAME}.php -f

    # Ejecutar internamente el archivo .php correspondiente
    RewriteRule ^(.*)$ $1.php [L]
</IfModule>

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/css application/javascript image/svg+xml font/woff2
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On
    
    # Caché de imágenes y fuentes (1 año)
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType image/webp "access plus 1 year"
    ExpiresByType image/svg+xml "access plus 1 year"
    ExpiresByType image/x-icon "access plus 1 year"
    ExpiresByType image/vnd.microsoft.icon "access plus 1 year"
    ExpiresByType font/woff2 "access plus 1 year"
    
    # Caché de estilos y scripts (1 mes)
    ExpiresByType text/css "access plus 1 month"
    ExpiresByType application/javascript "access plus 1 month"
    ExpiresByType text/javascript "access plus 1 month"
</IfModule>

<IfModule mod_headers.c>
    <FilesMatch "\.(?:jpg|jpeg|png|webp|svg|ico|woff2)$">
        Header set Cache-Control "public, max-age=31536000, immutable"
    </FilesMatch>

    <FilesMatch "\.(?:css|js)$">
        Header set Cache-Control "public, max-age=2592000"
    </FilesMatch>
</IfModule>
